@model HTA.Models.Service

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Service_ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Service_Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service_Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_Outside)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_Outside)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_Web_Avail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_Web_Avail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_Quick)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_Quick)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommitteeType_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommitteeType_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_Priest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_Priest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_IT_Exempt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_IT_Exempt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Last_Modified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Last_Modified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Who_Modified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Who_Modified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailReceipt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailReceipt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToEmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToEmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailSubject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailSubject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceGroup.ServiceGroup_ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
