@model IEnumerable<HTA.Models.Devotee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LoginEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TemporaryPassord)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Home_Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Middle_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address_2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StateID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Work_Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Work_Phone_Ext)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cell_Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wedding_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemberType_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gothram_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Star_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Mailing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Emailing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_ProfileComplete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_Modified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Who_Modified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_LoggedIn)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporaryPassord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Home_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Middle_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Work_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Work_Phone_Ext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cell_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wedding_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberType_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gothram_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Star_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Mailing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Emailing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_ProfileComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Who_Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_LoggedIn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Devotee_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Devotee_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Devotee_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
