@model PaginatedList<HTA.Models.Devotee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Devotees" asp-action="Index">
    <p>
        Search for Devotee(by FirstName/LastName/PhoneNumber): <input type="text" name="SearchString" value="@ViewData["currentFilter"]">
        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-action="Index">Back to Full List</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Last_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().First_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Middle_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Home_Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cell_Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().LoginEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Is_Active)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Middle_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Home_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cell_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Active)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Devotee_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Devotee_ID">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
