@model IEnumerable<HTA.Models.ServiceGroup>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceGroup_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_Modified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Who_Modified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Active)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceGroup_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Who_Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceGroup_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceGroup_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceGroup_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
